.productsWrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin: 20px 0;
}

.productInner {
    justify-self: center;
}

@media  screen and (min-width:767px){
    .productsWrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        margin: 20px 0;
    }
}