@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;900&family=Secular+One&display=swap');

:root {
  --dark-color: #0a0e17;
  --primary: #3f9fff;
  --primary-color: #e50916;
  --white-color: #ffffff;
  --black-color: #182031;
  --off-white: #cecfd1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #edeff1;
  font-family: "open sans", sans-serif;
}

a {
  text-decoration: none;
  color: var(--off-white);
}

label {
  display: block;
  margin-bottom: 5px;
  color: #111;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border: 2px solid #edeff1;
  border-radius: 5px;
}

nav a.active {
  position: relative;
    color: sandybrown;
}

.wraper {
  max-width: 1400px;
  margin: 0 auto;
}

.btn {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: sandybrown;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  min-width: 150px;
}
.error {
  color: #e50916;
  margin: 10px 0;
}